<div class="user-profile">
  <div class="profile_row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
      <!-- LEFT: AVATAR HERE -->
      </div>
    </div>

    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username">fahus</h2>
        <a class="edit-profile">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>20</span> posts</li>
        <li><span>200</span> followers</li>
        <li><span>350</span> following</li>
      </ul>
    </div>
  </div>
